# =========================================
# ENV FILES
# =========================================

.env


# =========================================
# LOG FILES
# =========================================

logs/

*.log


# =========================================
# PYTHON CACHE
# =========================================

__pycache__/

*.pyc

*.pyo

*.pyd


# =========================================
# SQLITE DATABASE
# =========================================

*.db

*.sqlite3


# =========================================
# TERMUX / SYSTEM FILES
# =========================================

.DS_Store

Thumbs.db


# =========================================
# VIRTUAL ENVIRONMENT
# =========================================

venv/

.env/


# =========================================
# TEMP FILES
# =========================================

*.tmp

*.bak


# =========================================
# TEST FILES
# =========================================

test_*.py